# use glob syntax.
syntax: glob
*.class
*~
*.bak
*.off
*.old

# Eclipse
.classpath
.project
.settings

com.jbm.urcap.sample.manipulateIO/target/generated-sources/
com.jbm.urcap.sample.manipulateIO/target/generated-test-sources/
com.jbm.urcap.sample.manipulateIO/target/classes/
com.jbm.urcap.sample.manipulateIO/.settings/
com.jbm.urcap.sample.manipulateIO/target/maven-status/
com.jbm.urcap.sample.manipulateIO/target/surefire-reports/
